/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
    margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
    display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
    text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}
/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}
/*Псевдораспорка для блоков с float*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* Сетка для контента */

.grid {
    width: 1175px;
    margin: 0 auto;
}
/*Навигация по категориям блога*/
.categories-blog-wrap{
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}
.categories-blog{
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    display: flex;
    margin: 15px 0;
    width: 800px;
}
.categories-blog__title{
    font-weight: 700;
    padding: 9px 0;
}
.categories_blog__element{
    padding: 9px 22px;
    margin-left: 15px;
    border-radius: 25px;
    border: 1px solid transparent;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.871);
    background-color: #f5f5f5;
    transition: 0.5s;
}
.categories_blog__element:hover{
    border: 1px solid #3f51b5;
    background-color: #ffffff;
    color: #3f51b5;
}
/*Обёртка для всех блоков контента*/
.blog-articles-wrap{
    width: 820px;
    display: inline-block;
    background-color: inherit;
    margin-top: 30px;
}
/*Стили для основого блока видео*/
.section-video-main{
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 5px;
}
.section-video-main__video-wrap{
    position: relative;
}
.section-video-main__value{
    padding: 15px;
    width: 100%;
    position: absolute;
    bottom: 4px;
    box-sizing: border-box;
}
.section-video-main__content-name{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    line-height: 1.688;
    float: left;
}
.section-video-main__content-name:hover{
    text-shadow: 1px 1px 10px;
}
.section-video-main__statistics{
    color: #ffffff;
    float: right;
}
.section-video-main__comments{
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
}
.section-video-main__comments:hover{
    text-shadow: 1px 1px 5px;
}
.section-video-main__comments::before{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../img/content/icon/comment.svg"), center, no-repeat;
    background-size: cover;
}
.section-video-main__likes{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}
.section-video-main__likes:hover{
    text-shadow: 1px 1px 5px;
    
}
.section-video-main__likes::before{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../img/content/icon/like.svg"), center, no-repeat;
    background-size: cover;
}
.section-video-main__title{
    text-decoration: none;
    font-size: 18px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    font-weight: bold;
    line-height: 1.611;
    padding-left: 15px;
    transition: 0.3s;
}
.section-video-main__title:hover{
    color: #3f51b5;
}
.section-video-main__description{
    width: 760px;
    font-size: 16px;
    font-family: "OpenSans", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    line-height: 1.625;
    padding:0 30px 0 15px;
}

.section-video-main__user-wrap{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.section-video-main__user-photo-wrap{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}
.section-video-main__name{
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    line-height: 1.929;
}
.section-video-main__date{
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgba(33, 33, 33, 0.541);
    line-height: 2.25;
    letter-spacing: 1px;
}
.section-video-main__user{
    width: 215px;
}
.section-video-main__user-more::after{
    content: "";
    width: 8px;
    height: 16px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
    background: url("../img/content/icon/three_dot.svg"), center, no-repeat;
    background-size: cover;
}

/*Стили для второго блока контента в виде списка блоков*/
.section-media-list{
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-top:20px;
    height: 165px;
    display: flex;
    justify-content: space-between;
}
.section-media-list__content-wrap{
    position: relative;
    width: 260px;
    display: inline-block;
}
.section-media-list__title{
    width: 520px;
    display: inline-block;
    font-size: 18px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    font-weight: bold;
    line-height: 1.611;
    padding-left: 15px;
    text-decoration: none;
    transition: 0.3s;
}
.section-media-list__title:hover{
    color: #3f51b5;
}
.section-media-list__description{
    width: 520px;
    display: inline-block;
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    color: rgba(0, 0, 0, 0.871);
    line-height: 1.625;
    padding:0 15px 0 15px;
}
.section-media-list__info-wrap{
    display: flex;
    flex-direction: column;

}
.section-media-list__user-wrap{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.section-media-list__user-photo-wrap{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}
.section-media-list__name{
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.871);
    line-height: 1.929;
}
.section-media-list__date{
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: rgba(33, 33, 33, 0.541);
    line-height: 2.25;
    letter-spacing: 1px;
}
.section-media-list__user{
    width: 215px;
}
.section-media-list__user-more::after{
    content: "";
    width: 8px;
    height: 16px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
    background: url("../img/content/icon/three_dot.svg"), center, no-repeat;
    background-size: cover;
}
/*карточки статей*/
.section-media-cards{
    width: 260px;
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-top: 20px;
}
.section-media-cards--wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-media-cards__content-wrap{
    width: 260px;
    position: relative;
}
.section-media-cards__value{
    padding: 0 15px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    box-sizing: border-box;
}
.section-media-cards__content-name{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Montserrat", Arial sans-serif;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    line-height: 1.688;
    float: left;
}
.section-media-cards__content-name:hover{
    text-shadow: 1px 1px 10px;
}
.section-media-cards__statistics{
    color: #ffffff;
    float: right;
}
.section-media-cards__comments{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    margin-right: 15px;
}
.section-media-cards__comments:hover{
    text-shadow: 1px 1px 5px;
}
.section-media-cards__comments::before{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../img/content/icon/comment.svg"), center, no-repeat;
    background-size: cover;
}
.section-media-cards__likes{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}
.section-media-cards__likes:hover{
    text-shadow: 1px 1px 5px;
}
.section-media-cards__likes::before{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../img/content/icon/like.svg"), center, no-repeat;
    background-size: cover;
}
.section-media-cards__text-wrap{
    height: 175px;
    overflow: hidden;
}
.section-media-cards__title{
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    font-weight: bold;
    line-height: 1.714;
    padding: 20px 20px 0 20px;
    text-decoration: none;
    transition: 0.3s;
}
.section-media-cards__title:hover{
    color: #3f51b5;
}
.section-media-cards__description{
    font-size: 14px;
    font-family: "OpenSans", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    line-height: 1.625;
    padding: 0 20px 20px 20px;
}
.section-media-cards__info-wrap{

}
.section-media-cards__user-wrap{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.section-media-cards__user-photo-wrap{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}
.section-media-cards__name{
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    line-height: 1.929;
}
.section-media-cards__date{
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgba(33, 33, 33, 0.541);
    line-height: 2.25;
    letter-spacing: 1px;
}
.section-media-cards__user{
    width: 200px;
}
.section-media-cards__user-more::after{
    content: "";
    width: 8px;
    height: 16px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
    background: url("../img/content/icon/three_dot.svg"), center, no-repeat;
    background-size: cover;
}
.section-media-cards__wrap-content-photo{
    width: 260px;
    height: 165px;
    overflow: hidden;
}
/*стрелки для слайдера в карточках*/
.section-media-cards__slider-arrow-wrap{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 59px;
    padding: 0 10px;
    box-sizing: border-box;
}
.section-media-cards__arrow-left{
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-media-cards__arrow-left::after{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../img/content/icon/arrow-left.svg"), center, no-repeat;
    background-size: cover;

}
.section-media-cards__arrow-right{
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-media-cards__arrow-right::after{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../img/content/icon/arrow_right.svg"), center, no-repeat;
    background-size: cover;
}
/*стили больших карточек*/
.section-media-big-cards{
    width: 400px;
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-top: 20px;
}
.section-media-big-cards--wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-media-big-cards__content-wrap{
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.section-media-big-cards__value{
    padding: 0 15px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    box-sizing: border-box;
}
.section-media-big-cards__content-name{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Montserrat", Arial sans-serif;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    line-height: 1.688;
    float: left;
}
.section-media-big-cards__content-name:hover{
    text-shadow: 1px 1px 10px;
}
.section-media-big-cards__statistics{
    color: #ffffff;
    float: right;
}
.section-media-big-cards__comments{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    margin-right: 15px;
}
.section-media-big-cards__comments:hover{
    text-shadow: 1px 1px 5px;
}
.section-media-big-cards__comments::before{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../img/content/icon/comment.svg"), center, no-repeat;
    background-size: cover;
}
.section-media-big-cards__likes{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}
.section-media-big-cards__likes:hover{
    text-shadow: 1px 1px 5px;
}
.section-media-big-cards__likes::before{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../img/content/icon/like.svg"), center, no-repeat;
    background-size: cover;
}
.section-media-big-cards__text-wrap{
    height: 160px;
    overflow: hidden;
}
.section-media-big-cards__title{
    font-size: 18px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    font-weight: bold;
    line-height: 1.611;
    padding: 20px 20px 0 20px;
    text-decoration: none;
    transition: 0.3s;
}
.section-media-big-cards__title:hover{
    color: #3f51b5;
}
.section-media-big-cards__description{
    font-size: 16px;
    font-family: "OpenSans", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    line-height: 1.625;
    padding: 0 20px 20px 20px;
}
.section-media-big-cards__info-wrap{

}
.section-media-big-cards__user-wrap{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.section-media-big-cards__user-photo-wrap{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}
.section-media-big-cards__name{
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    line-height: 1.929;
}
.section-media-big-cards__date{
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgba(33, 33, 33, 0.541);
    line-height: 2.25;
    letter-spacing: 1px;
}
.section-media-big-cards__user{
    width: 200px;
}
.section-media-big-cards__user-more::after{
    content: "";
    width: 8px;
    height: 16px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
    background: url("../img/content/icon/three_dot.svg"), center, no-repeat;
    background-size: cover;
}
.section-media-big-cards__wrap-content-photo{
    width: 260px;
    height: 165px;
    overflow: hidden;
}

/*Стрелочка "more"*/
.more-article__wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: inherit;
}
.more-article{
    width: 93px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.more-article__text{
    color: #3f51b5;
    margin-right: 8px;
}
.more-article__arrow-right{
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}
.more-article__arrow-right:hover{
    box-shadow: 0 0 10px;
    text-shadow: 1px 1px 2px;
}
.more-article__arrow-right::before{
    position: absolute;
    content: "More";
    width: 44px;
    height: 21px;
    color: #3f51b5;
    left: -44px;
}
.more-article__arrow-right::after{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../img/content/icon/right_arrow_more.svg"), center, no-repeat;
    background-size: cover;
}
/*Стили сайдбара*/
.sidebar-wrap{
    width: 310px;
}
.sidebar{
    width: 270px;
    display: inline-block;
    float: right;
}
/*Стили поиска в сайдбаре*/
.sidebar__search{
    width: 100%;
    padding: 10px 0 12px 21px;
    border-radius: 22px;
    background-color: rgb(245, 245, 245);
    border: 1px solid transparent;
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 30px;
    outline: none;
    color: #afafaf;
    position: relative;
    transition: 0.3s;
}
.sidebar__search:focus{
    border: 1px solid #afafaf;
}
.search-wrap{
    position: relative;
}
.search-wrap::after{
    content: '';
    position: absolute;
    right: 5px;
    top: 29px;
    width: 35px;
    height: 35px;
    background: url("../img/sidebar/search-icon.svg"), center, no-repeat;
    background-size: cover;
    cursor: pointer;
}

/*Стили категорий в сайдбаре*/
.sidebar__categories{
    margin-bottom: 35px;
}
.sidebar__title-categories, .sidebar__title-subscribe, .sidebar__title-widget, .sidebar__title-tags{
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3f51b5;
    border-bottom: 1px solid #aec3ff;
    line-height: 1.2;
}
.sidebar__list-categories{
    list-style: none;
    margin: 0;
    padding: 0;

}
.sidebar__list-element{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: "OpenSans", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    line-height: 2.857;
    border-bottom: 1px solid #ebeae9;
}
.last-child{
    border-bottom: none;
}
.sidebar__number-articles{
    font-weight: 700;
}
/*Стили формы подписки*/
.sidebar__subscribe{
    margin-bottom: 48px;
}
.sidebar__label-name, .sidebar__label-email{
    font-size: 16px;
    font-family: "OpenSans", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    line-height: 2.25;
}
.sidebar__input-name, .sidebar__input-email{
    font-size: 16px;
    font-family: "OpenSans", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.38);
    line-height: 2.25;
    padding-left: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
}
.sidebar__input-name:focus, .sidebar__input-email:focus{
    outline: none;
    border: 1px solid #afafaf;
}
.sidebar__submit-form{
    font-size: 18px;
    font-family: "Montserrat", Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #3f51b5;
    margin-top: 10px;
    padding: 15px 0;
    cursor: pointer;
}
.sidebar__submit-form:focus{
    outline: none;
}
.sidebar__or{
    position: relative;
    text-align: center;
    font-size: 16px;
    font-family: "OpenSans", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    line-height: 2.25;
}
.sidebar__or::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: #000000;
    top: 50%;
    left: 0;
    margin-top: -1px;
}
.sidebar__or::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: #000000;
    top: 50%;
    right: 0;
    margin-top: -1px;
}
.sidebar__social-icon{
    display: flex;
    justify-content: space-between;
}
.sidebar__facebook-icon::after{
    content: "";
    width: 35px;
    height: 35px;
    display: inline-block;
    background: url("../img/sidebar/facebook-icon.svg"), center, no-repeat;
    background-size: cover;
}
.sidebar__twitter-icon::after{
    content: "";
    width: 35px;
    height: 35px;
    display: inline-block;
    background: url("../img/sidebar/twitter-icon.svg"), center, no-repeat;
    background-size: cover;
}
.sidebar__vk-icon::after{
    content: "";
    width: 35px;
    height: 35px;
    display: inline-block;
    background: url("../img/sidebar/vk-icon.svg"), center, no-repeat;
    background-size: cover;
}
.sidebar__pinterest-icon::after{
    content: "";
    width: 35px;
    height: 35px;
    display: inline-block;
    background: url("../img/sidebar/pinterest-icon.svg"), center, no-repeat;
    background-size: cover;
}
.sidebar__tumblr-icon::after{
    content: "";
    width: 35px;
    height: 35px;
    display: inline-block;
    background: url("../img/sidebar/tumblr-icon.svg"), center, no-repeat;
    background-size: cover;
}
.sidebar__dribbble-icon::after{
    content: "";
    width: 35px;
    height: 35px;
    display: inline-block;
    background: url("../img/sidebar/dribbble-icon.svg"), center, no-repeat;
    background-size: cover;
}

/*Стили виджета постов в сайдбаре*/
.sidebar__switch-posts{
    display: flex;
    margin-top: 20px;
}
.sidebar__recent-post{
    padding: 0;
    width: 50%;
    font-size: 16px;
    font-family: "Montserrat", Arial, sans-serif;
    color: #3f51b5;
    background-color: #ffffff;
    text-transform: uppercase;
    line-height: 1.875;
    border: 1px solid #3f51b5;
    border-radius: 5px 0 0 5px;
    transition: 0.3s;
    cursor: pointer;
}
.sidebar__recent-post:focus{
    color: #ffffff;
    background-color: #3f51b5;
    outline: none;
}
.sidebar__popular-post{
    padding: 0;
    width: 50%;
    font-size: 16px;
    font-family: "Montserrat", Arial, sans-serif;
    color: #3f51b5;
    background-color: #ffffff;
    text-transform: uppercase;
    line-height: 1.875;
    border: 1px solid #3f51b5;
    border-radius: 0 5px 5px 0;
    transition: 0.3s;
    cursor: pointer;
}
.sidebar__popular-post:focus{
    color: #ffffff;
    background-color: #3f51b5;
    outline: none;
}
/*карточки статей сайдбара*/
.sidebar__tab-wrap{
    display: flex;
    border-bottom: 1px solid #dee5e9;
    padding: 15px 0;
}
.sidebar__photo-wrap{
    width: 100px;
    height: 80px;
    display: inline-block;
}
.sidebar__info-tab{
    margin-left: 15px;
    position: relative;
}
.sidebar__date-tab{
    font-size: 12px;
    font-family: "OpenSans", Arial, sans-serif;
    color: #909090;
}
.sidebar__comment-tab{
    text-decoration: none;
    color: #b9c5cd;
    position: absolute;
    right: 0;
}

.sidebar__comment-tab::before{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../img/sidebar/comment-icon.svg"), center, no-repeat;
    background-size: cover;
}

.sidebar__description-tab{
    font-size: 14px;
    font-family: "OpenSans", Arial, sans-serif;
    color: #212121;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}
.sidebar__description-tab:hover{
    color: #3f51b5;
}
/*Стили для тегов в сайдбаре*/
.sidebar__title-tags{
    margin-top: 45px;
    margin-bottom: 10px;
}
.sidebar__tags-item{
    display: inline-block;
    padding: 8px 18px;
    border-radius: 4px;
    background-color: rgb(238, 238, 238);
    margin-right: 6px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.871);
    transition: 0.3s;
}
.sidebar__tags-item:hover{
    background-color: #cbc9c9;
}